$container-width: 1920px;
$primary-font: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$secondary-font: Kozuka Gothic Pr6N, sans-serif;
$roboto-font: "Roboto", sans-serif;
$oswald-font: "Oswald", sans-serif;
$main-color: #231815;
$color-252a6d: #252a6d;
$color-ededed: #ededed;
$color-7a89a8: #7a89a8;
$color-565f64: #565f64;
$color-aeaeae: #aeaeae;
