/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    text-align: center;
    padding: 85px 0;

    &__logo {
        width: 206px;
    }

    // Smartphone
    @media screen and (max-width: 767.98px) {
        max-width: 375px;
        margin: 0 auto;
        padding: 34px 0 33px 1px;
        &__logo {
            width: 104px;
        }   
    }
    
    // Tablet
    @media screen and (min-width: 768px) and (max-width: 1023.98px) {
        padding: 40px 0;
        &__logo{
            width: 120px;
        }
    }
}
