/* Header
------------------------------------------------------------*/
.c-header {
    &__banner {
        position: relative;
    }

    &__info {
        position: absolute;
        top: calc(50% + 32px);
        left: calc(50% + 18px);
        transform: translate(-50%, -50%);
        width: 434px;
        height: 461px;
        background-color: rgba(255, 255, 255, 0.49);
        padding: 114px 30px 60px;
        text-align: center;
    }

    &__logo {
        max-width: 227px;
        margin-bottom: 60px;
    }

    &__slogan {
        display: block;
        margin: 0 auto 42px;
        line-height: 1;
        font-family: $third-font;
        font-size: 1.9rem;
        letter-spacing: -0.7px;
        margin-left: -19px;
        em{
            margin-right: -8px;
        }
    }

    &__imgtext {
        margin-left: 7px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        &__info{
            margin-bottom: 5px;
        }
        &__logo {
            margin-bottom: 5px;
        }
    }

    // Smartphone
    @media screen and (max-width: 767.98px) {
        &__banner {
            &--image {
                width: 100%;
            }
        }

        &__info {
            width: 217px;
            height: 230px;
            padding: 58px 25px 25px;
            top: calc(50% - 18px);
            left: 50%;
        }

        &__logo {
            width: 113px;
            margin-bottom: 30px;
        }

        &__slogan {
            margin-bottom: 35px;
            font-size: 0.9rem;
            letter-spacing: -1.3px;
            em{
                margin-right: -4px;
            }
        }

        &__imgtext {
            width: 161px;
            margin-left: 10px;
            margin-top: -14px;
        }
    }

    // Tablet
    @media screen and (min-width:768px) and (max-width: 1023.98px) {
        &__info{
            width: auto;
            height: auto;
            padding: 60px 30px;
            top: 50%;
            left: 50%;
        }
        &__logo{
            max-width: calc(227px - 10%);
            margin-bottom: 30px;
        }
        &__slogan{
            margin-bottom: 33px;
            font-size: 1.8rem;
            letter-spacing: -1.3px;
        }
        &__imgtext{
            margin: 0;
        }
    }

    // Laptop
    @media screen and (min-width: 1024px) and ( max-width: 1919px) {
        &__info{
            top: 50%;
            left: 50%;
        }
    }
}
