<footer class="c-footer">
  <div class="c-footer__main">
    <a class="c-footer__link" href="index.html">
      <img class="c-footer__logo" src="./assets/img/logo.svg" alt="NGM DESIGN">
    </a>
  </div>
</footer>