<header class="c-header">
  <div class="l-container">
    <div class="c-header__main">
      <div class="c-header__banner">
        <picture>
          <source class="c-header__banner--image" media="(max-width:767px)" srcset="/_public/assets/img/main-banner-sp.jpg 2x">
          <img class="c-header__banner--image" src="/_public/assets/img/main-banner.jpg" alt="">
        </picture>
        <h1 class="c-header__info">
          <img class="c-header__logo" src="/_public/assets/img/logo.svg" alt="NGM DESIGN">
          <img class="c-header__slogan" src="/_public/assets/img/textbanner.svg" alt="「こんな家に住みたい」をカタチにした家">
          <img class="c-header__imgtext" src="/_public/assets/img/img-now-open.png" alt="NOW OPEN">
        </h1>
      </div>
    </div>
  </div>
</header>